/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}

.state-section {
    text-align: center !important;
}

body {
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,76,117,1) 49%, rgba(2,0,36,1) 100%) !important; 
    color: white;
}

.number-button {
    margin: 5px;
}

hr {
    border-top: 1px solid rgb(255, 255, 255);
}

.btn {
    margin: 5px;
}