/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}

.state-section {
    text-align: center !important;
}

body {
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,76,117,1) 49%, rgba(2,0,36,1) 100%) !important; 
    color: white;
}

button.minus {
  float: left;
  padding: 8px 14px;
  background: #f1f1f1;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}
button.plus {
  float: left;
  padding: 11px 14px;
  background: #f1f1f1;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}